@media only screen and (min-width: 1200px){
    nav.navbar.bootsnav ul.nav > li {
        padding: 0px 4px;
    }
}

@media only screen and (min-width: 1024px){
    nav.navbar.bootsnav.navbar-light.no-background.white .attr-nav > ul > li > a, 
    nav.navbar.bootsnav.navbar-light.white .attr-nav > ul > li > a, 
    nav.navbar.bootsnav.navbar-light.white ul.nav > li > a, 
    nav.navbar.bootsnav.navbar-light.no-background.white ul.nav > li > a {
        font-size: 15px;
    }
}

.grid-view .brows-job-company-img img {
    margin: 0 auto;
    vertical-align: middle;
    display: inline-block;
    max-width: initial;
    line-height: 50px;
    height: 160px;
    width: auto;
}

.grid-view .brows-job-company-img {
    width: auto;
    margin: 10px auto;
    height: initial;
    display: flex;
    border: 0px solid #e4e4e4;
    background: #fff;
    align-items: center;
    border-radius: 0;
    line-height: 80px;
    padding: 10px;
}

.brows-company .brows-company-pic img {
    height: auto;
}
.blog-grid .grid-view .brows-job-company-img img {
    height: 170px;
    margin: 0px auto;

}
.blog-grid .grid-view .brows-job-company-img {
    width: auto;
    padding: 0px;
    margin: 0px;
}
.blog-news .img-holder img{
    width: 100%;
}